.container {
  width: 100%;
  max-width: 82.5rem;
  margin: 0 auto;
  padding: 0 15px;
}

.flex-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.active {
  color: var(--active-color);
}

.section__title {
  margin: 0 auto 2rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--element-bg-color);
}

.common__button {
  text-align: center;
}

.common__btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--element-bg-color);
  border-radius: 0.5rem;
  color: var(--element-text-color);
  text-transform: uppercase;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.common__btn:hover {
  background-color: var(--active-color);
  color: var(--element-text-color);
}
