*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #021e20;
  --primary-bg-color: #fffefc;
  --element-text-color: #e8ede7;
  --element-bg-color: #186378;
  --active-color: #b96b85;

  --primary-font-family: "Inter Tight", sans-serif;

  --primary-font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);

  --mb-small: clamp(1rem, 0.7143rem + 1.4286vw, 2rem);
  --mb-large: clamp(2rem, 1.7143rem + 1.4286vw, 3rem);

  --currency-symbol: "\20B4";
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family);
  font-size: var(--primary-font-size);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
}

header {
  font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
}

main {
  flex: 1 1 auto;
}

footer {
  font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
  color: var(--element-text-color);
  background-color: var(--element-bg-color);
}

h1,
h2,
h3 {
  font-weight: 600;
}
h1 {
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
}

h2 {
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
}

h3 {
  font-size: clamp(0.75rem, 0.6429rem + 0.5357vw, 1.125rem);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
