@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}

header {
	background: rgb(214 214 214 / 0.85);
	position: fixed;
	z-index: 999;
	width: 100%;
	text-align: center;
}

.logo {
	grid-column: 2 / 3;
}

.navbar {
	grid-column: 3 / 4;
}

.toolbar {
	grid-column: 5 / 6;
}

.navbar,
.toolbar {
	margin-top: 2rem;
}

.navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar a,
.toolbar a {
	margin-bottom: 1em;
	margin-left: 1em;
	color: gray;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.navbar a {
	display: block;
	margin-left: 0;
}

.toolbar a {
	margin-left: 0.5em;
}

.navbar a:hover,
.toolbar a:hover {
	color: #000;
}

.content {
	height: 200vh;
	display: grid;
	place-items: center;
}

@media (min-width: 800px) {
	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr auto 1fr;
	}

	.navbar {
		flex-direction: row;
		justify-content: flex-end;
	}
	.navbar a {
		margin-left: 1em;
	}
}
