.categories {
  margin-bottom: var(--mb-large);
}

.categories__title {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-small);
}

.title__new,
.title__hits,
.title__sale {
  text-transform: uppercase;
  color: var(--element-bg-color);
  transition: color 0.1s linear;
}

.title__new:hover,
.title__hits:hover,
.title__sale:hover {
  color: var(--active-color);
}

hr {
  height: 2px;
  background-color: var(--element-bg-color);
  margin-bottom: var(--mb-small);
}

/* Media */
/* Large */
/* @media (max-width: 90rem){

} */

/* Desktop */
/* @media (max-width: 75rem){
  
} */

/* Laptop */
/* @media (max-width: 62rem){
 
} */

/* Tablet */
@media (max-width: 48rem){
  .categories__title{
    width: 80%;
  }
}

/* Mobile */
/* @media (max-width: 36rem){

} */