.hero {
  margin-bottom: var(--mb-large);
  width: 100%;
}

.hero__title {
  margin-bottom: var(--mb-large);
  text-align: center;
  text-transform: uppercase;
  color: var(--active-color);
}

.hero__slider {
  position: relative;
}

.hero__slider-img img {
  width: 100%;
  object-fit: cover;
}

.hero__slider-title {
  padding: 0.8rem 0;
  background-color: var(--element-bg-color);
  position: absolute;
  top: 12.5rem;
  left: 0;
  right: 0;
  z-index: 10;
  font-size: clamp(1.75rem, 0.9167rem + 2.3148vw, 3rem);
  text-transform: uppercase;
  text-align: center;
  transition: background-color 0.1s linear, color 0.1s linear;
}

.hero__slider-title a {
  color: var(--element-text-color);
}

.fa-chevron-left,
.fa-chevron-right {
  position: absolute;
  top: 14rem;
  z-index: 15;
  font-size: 2rem;
  color: var(--element-text-color);
}

.fa-chevron-left {
  left: 2rem;
}

.fa-chevron-right {
  right: 2rem;
}

.hero__slider-btn {
  padding: 1rem 2rem;
  min-width: 6rem;
  background-color: var(--element-text-color);
  border-radius: 0.5rem;
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: var(--element-bg-color);
  text-transform: uppercase;
  transition: background-color 0.1s linear, color 0.1s linear;
}

.hero__slider-title:hover,
.hero__slider-btn:hover {
  background-color: var(--active-color);
  color: var(--element-text-color);
}

/* Media */
/* Large */
/* @media (max-width: 90rem){

} */

/* Desktop */
/* @media (max-width: 75rem){
  
} */

/* Laptop */
@media (max-width: 62rem){
  .hero__slider-title{
    top: 9.5rem;
  }

  .hero__slider-btn{
    top: 17rem;
  }

  .fa-chevron-left,
  .fa-chevron-right{
    top: 10.5rem;
  }
}

/* Tablet */
@media (max-width: 48rem){
  .hero__slider-title{
    top: 6.5rem;
  }

  .hero__slider-btn{
    top: 13rem;
  }

  .fa-chevron-left,
  .fa-chevron-right{
    display: none;
  }
}

/* Mobile */
/* @media (max-width: 36rem){

} */
