.about-page,
.about-page__item {
  margin-bottom: var(--mb-large);
}

.about-page__container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about-page__text,
.about-page__img {
  width: 48%;
}

.about-page__text p,
.about-page__list,
.about-page__order,
.order__list {
  margin-bottom: 1rem;
  line-height: 150%;
}

.about-page__list {
  max-width: 70%;
  margin: 0 auto;
}

.about-page__list li,
.order__list li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

.about-page__order,
.order__list {
  margin: 0 auto 1rem;
  width: 80%;
}

.order__list a {
  color: var(--active-color);
}

/*********** Media *************/
/* Large */
/* @media (max-width: 90rem){
} */

/* Desktop */
@media (max-width: 75rem) {
}

/* Laptop */
@media (max-width: 62rem) {
  .about-page__text,
  .about-page__img {
    width: 100%;
  }

  .about-page__img {
    text-align: center;
  }
}

/* Tablet */
/* @media (max-width: 48rem) {
} */

/* Mobile */
/* @media (max-width: 36rem){
} */
