.filter__container{
  margin-bottom: var(--mb-small);
  display: flex;
  justify-content: space-between;
}

.choice {  
  position: relative;
  flex-basis: 60%;
}

.filters {
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  background-color: var(--primary-bg-color);
  border-radius: 0.5rem;
  box-shadow: 0 10px 30px #363636;
  position: absolute;
  top: 0;
  left: -1rem;
  z-index: 100;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: transform 0.5s linear;
  visibility: hidden;
  opacity: 0;
}

.filters__item{
  padding: 0.3rem 6rem 0.3rem 0;  
}

.filters__item p{
  color: var(--element-bg-color);
  font-weight: 600;
}

.filters__item .common__button,
.choice .common__button{
  text-align: left;
  cursor: pointer;
}

.filters__inner{
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.filters__inner-item{
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.filters__inner-item span{
  padding-left: 0.5rem;
}

.choice .common__button:focus .filters{
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

/* Sort */
.sort {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}
.sort p {
  margin-bottom: 0.5rem;
}

.sort__select {
  padding: 0.5rem;
  background-color: var(--primery-bg-color);
}

.sort__select:focus {
  outline: 0;
  border: 2px solid var(--element-bg-color);
}

/*********** Media *************/
/* Large */
/* @media (max-width: 90rem){
} */

/* Desktop */
/* @media (max-width: 75rem){
} */

/* Laptop */
/* @media (max-width: 62rem) {
} */

/* Tablet */
@media (max-width: 48rem) {
	.catalog__main .section__title{
    display: none;
  }
}

/* Mobile */
/* @media (max-width: 36rem){

} */
