.delivery__item {
  margin-bottom: var(--mb-large);
  line-height: 150%;
}

.delivery__text,
.delivery__list {
  width: 80%;
  margin: 0 auto 1rem;
}

.delivery__list li {
  margin: 0 8rem;
  list-style: disc;
  margin-bottom: 0.5rem;
}

.delivery__list-order {
  width: 80%;
  margin: 0 auto 0.7rem;
  font-size: clamp(0.5rem, 0.3929rem + 0.5357vw, 0.875rem);
}

.delivery__list-order li {
  list-style-type: style;
}

.delivery__company {
  max-width: 80%;
  margin: 0 auto var(--mb-large);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.delivery__company-logo {
  display: block;
  flex-basis: 28%;
  text-align: center;
}

.delivery__list-inner li {
  list-style-type: circle;
}

.return .common__button {
  margin-bottom: var(--mb-large);
}

/*********** Media *************/
/* Large */
/* @media (max-width: 90rem){
} */

/* Desktop */
/* @media (max-width: 75rem){
} */

/* Laptop */
@media (max-width: 62rem) {
  .delivery__company-logo {
    flex-basis: 43%;
  }

  .delivery__text {
    width: 100%;
  }

  .delivery__list li {
    margin: 0 1rem;
  }

  .return .delivery__list li {
    margin-bottom: 1rem;
  }

  .delivery__list-inner li {
    margin: 0 2rem;
  }
}

/* Tablet */
/* @media (max-width: 48rem) {

} */

/* Mobile */
@media (max-width: 36rem) {
  .delivery__company-logo {
    flex-basis: 40%;
  }

  .delivery__list {
    width: 100%;
  }
}
