.faq-page {
  margin-bottom: var(--mb-large);
}

.accordion {
  margin: 0 auto var(--mb-large);
  width: 80%;
}

.accordion__item {
  display: flex;
  flex-direction: column;
}

.accordion__item-header {
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
}

.accordion__title {
  font-size: clamp(0.875rem, 0.7679rem + 0.5357vw, 1.25rem);
  line-height: 150%;
  color: var(--element-bg-color);
}

.accordion__item-header span {
  font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  color: var(--element-bg-color);
  transition: transform 0.25s;
}

.accordion__item-content {
  padding: 1rem 2rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: var(--primery-bg-color);
  max-height: 0;
  transition: max-height 0.1s ease-out;
  opacity: 0;
}

.accordion__inner span {
  display: inline-block;
  padding: 0.3rem 2rem;
}

.accordion__item.open .accordion__item-content {
  /* transform: rotateX(0deg);
  visibility: visible; */
  opacity: 1;
  max-height: 100%;
}

/*********** Media *************/
/* Large */
/* @media (max-width: 90rem){
} */

/* Desktop */
/* @media (max-width: 75rem){
} */

/* Laptop */
/* @media (max-width: 62rem) {
  
} */

/* Tablet */
@media (max-width: 48rem) {
  .accordion {
    width: 85%;
  }
}

/* Mobile */
/* @media (max-width: 36rem){
 
} */
